body * {
	box-sizing: border-box;
	border: 2px solid blue;
}

html {
background: url('https://images.all-free-download.com/images/graphiclarge/green_leaf_background_01_vector_182019.jpg');
   
}

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Stylish', sans-serif;
	background-color: #ffffff;
	color: #2444d4;
}


.js-next-button {
	display: none;
}

.big-box {
	border: 2px solid black;
}

.icon {
	width: 60px;
	height: 60px;
	border: 1px solid gold;
	border-radius: 100%;
}






