*{
	box-sizing: border-box;
	border: 1px solid blue;
}


body {
	font-family: 'Stylish', sans-serif;
	color: #2444d4;
}

html {
background: url('https://images.all-free-download.com/images/graphiclarge/green_leaf_background_01_vector_182019.jpg');
   
}

.big-box {
	border: 2px solid black;  /*for the container of the entire screen*/
}

.icon {
	background-color: goldenrod;
	width: 200px;
	height: 200px;
	border: 6px solid rgb(128, 108, 0);
	border-radius: 100%;
}


.js-next-button, .js-restart-button {
	display: none;
}

.ranking-html {
	text-align: center;
	border: 2px solid gold;
}

